/* Rouge语法高亮主题 - GitHub风格 */
.highlight {
    background: #f6f8fa;
    border-radius: 6px;
    margin: 1em 0;
    overflow: auto;
}

.highlight table td {
    padding: 0;
}

.highlight table pre {
    margin: 0;
}

.highlight .c {
    color: #6a737d;
    font-style: italic;
}

.highlight .err {
    color: #d73a49;
    background-color: #ffeef0;
}

.highlight .k {
    color: #d73a49;
}

.highlight .o {
    color: #24292e;
}

.highlight .cm {
    color: #6a737d;
    font-style: italic;
}

.highlight .cp {
    color: #6a737d;
}

.highlight .c1 {
    color: #6a737d;
    font-style: italic;
}

.highlight .cs {
    color: #6a737d;
    font-style: italic;
}

.highlight .gd {
    color: #d73a49;
    background-color: #ffeef0;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #d73a49;
}

.highlight .gh {
    color: #6a737d;
}

.highlight .gi {
    color: #22863a;
    background-color: #f0fff4;
}

.highlight .go {
    color: #6a737d;
}

.highlight .gp {
    color: #6a737d;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gu {
    color: #6a737d;
}

.highlight .gt {
    color: #d73a49;
}

.highlight .kc {
    color: #d73a49;
}

.highlight .kd {
    color: #d73a49;
}

.highlight .kn {
    color: #d73a49;
}

.highlight .kp {
    color: #d73a49;
}

.highlight .kr {
    color: #d73a49;
}

.highlight .kt {
    color: #d73a49;
}

.highlight .m {
    color: #005cc5;
}

.highlight .s {
    color: #032f62;
}

.highlight .na {
    color: #6f42c1;
}

.highlight .nb {
    color: #005cc5;
}

.highlight .nc {
    color: #6f42c1;
}

.highlight .no {
    color: #005cc5;
}

.highlight .nd {
    color: #6f42c1;
}

.highlight .ni {
    color: #6f42c1;
}

.highlight .ne {
    color: #6f42c1;
}

.highlight .nf {
    color: #6f42c1;
}

.highlight .nl {
    color: #005cc5;
}

.highlight .nn {
    color: #6f42c1;
}

.highlight .nt {
    color: #d73a49;
}

.highlight .nv {
    color: #005cc5;
}

.highlight .ow {
    color: #d73a49;
}

.highlight .w {
    color: #bbbbbb;
}

.highlight .mf {
    color: #005cc5;
}

.highlight .mh {
    color: #005cc5;
}

.highlight .mi {
    color: #005cc5;
}

.highlight .mo {
    color: #005cc5;
}

.highlight .sb {
    color: #032f62;
}

.highlight .sc {
    color: #032f62;
}

.highlight .sd {
    color: #6a737d;
    font-style: italic;
}

.highlight .s2 {
    color: #032f62;
}

.highlight .se {
    color: #032f62;
}

.highlight .sh {
    color: #032f62;
}

.highlight .si {
    color: #032f62;
}

.highlight .sx {
    color: #032f62;
}

.highlight .sr {
    color: #032f62;
}

.highlight .s1 {
    color: #032f62;
}

.highlight .ss {
    color: #032f62;
}

.highlight .bp {
    color: #6a737d;
}

.highlight .vc {
    color: #005cc5;
}

.highlight .vg {
    color: #005cc5;
}

.highlight .vi {
    color: #005cc5;
}

.highlight .il {
    color: #005cc5;
}